<div id="wcs" class="hiw_section layout_padding">
  <div class="container">
     <div class="row">
        <div class="col-md-12 text_align_center">
           <h3>Our Client Say</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
        </div>
        <div class="col-md-5">
        </div>
     </div>
     <div class="row">
        <div class="col-md-11">
           <div class="full testimonial_blog">
              <p>Jackrok</p>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscureContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over</p>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="subcribe">
  <div class="container">
     <div class="row">
        <div class="col-md-4 col-sm-6">
           <h3>Newsletter</h3>
           <p>dolor sit amet, consectetur adipiscing elit.<br>Ut elit tellus, luctus nec ullamcorper</p>
        </div>
        <div class="col-md-8 col-sm-6">
           <form>
              <input type="email" name="email" placeholder="Enter Your Email Address" />
              <button>Subscribe</button>
           </form>
        </div>
     </div>
  </div>
</div>
<footer>
  <div class="container">
     <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
           <div class="footer_blog_section">
              <img src="../../../assets/imgs/logo.png" alt="#" />
              <p style="margin-top: 5px;">It is a long established fact that a reader will be distracted by the readable content..</p>
           </div>
        </div>
        <div class="col-lg-2 col-md-6 col-12">
           <div class="item">
              <h4 class="text-uppercase">Navigation</h4>
              <ul>
                 <li><a href="#">Home</a></li>
                 <li><a href="#">About</a></li>
                 <li><a href="#">Location</a></li>
                 <li><a href="#">Service</a></li>
                 <li><a href="#">Features</a></li>
              </ul>
           </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
           <div class="item">
              <h4 class="text-uppercase">Contact Info</h4>
              <p><strong>Corporate Office Address:</strong></p>
              <p><img src="../../../assets/imgs/phone_icon.png" alt="#" /> 1234 River Street New York, NY 36524</p>
              <p><strong>Customer Service:</strong></p>
              <p><img src="../../../assets/imgs/location.png" alt="#" /> 987 654 3210</p>
           </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
           <div class="item">
              <h4 class="text-uppercase">Discover</h4>
              <ul>
                 <li><a href="#">Help</a></li>
                 <li><a href="#">How It Works</a></li>
                 <li><a href="#">Subscribe</a></li>
                 <li><a href="#">Contact Us</a></li>
              </ul>
           </div>
        </div>
     </div>
  </div>
  <div class="copyright text-center">
     <p>Copyright 2019  Design by <a href="https://html.design">Free Html Templates</a></p>
  </div>
</footer>
